<menus-bar></menus-bar>
  <sidemenu-bar></sidemenu-bar>
<div id="page-wrapper">

	<div class="row">
		<!-- Page Header -->
		<div class="col-lg-12">
			<h1 class="page-header">Forums</h1>
		</div>
		<!--End Page Header -->
		<div class=" row"> 
			<div class="col-lg-12">
				<div  ng-controller="forumViewController">


					<div class="panel panel-default ">
						<div class="panel-heading">
                                       <a ng-href="#forum">Back</a>
							<div class="inner-content" >	
                             
								<h3><strong>Title:</strong>{{forumViewCtrl.forumView.title}}</h3>
								<p>{{forumViewCtrl.forumView.createdAt|date:'medium'}}</p>
								<br>
								<p>Description:{{forumViewCtrl.forumView.description}}</p><br>
								
								<form ng-submit="forumViewCtrl.submitPost()">
								<input type="hidden" ng-model="forumViewCtrl.forumPost.forumPost_id">
									<input type="text" id="forumDescription" ng-model="forumViewCtrl.forumPost.forumDescription" class="form-control input-sm" placeholder="Enter tile" required="" />
									<input type="submit" value="{{!forumViewCtrl.forumPost.forumPost_id ? 'Add forum' : 'Update'}}" class="btn btn-primary " ng-disabled="myForm.$invalid"/>
								</form>

							</div>

							<div class="inner-content" ng-repeat="post in forumViewCtrl.forumView.forumPost">
								<a ng-click="forumViewCtrl.remove(post.forumPost_id)" href=""><span class="fa fa-trash-o  pull-right" style="color:red">delete</span></a>
								 <a ng-click="forumViewCtrl.edit(post.forumPost_id)" href=""><span class="fa fa-pencil-square-o  pull-right" >edit</span></a>							
								<p>{{post.forumDescription}}</p>
								<a ng-href="">View more</a>
								<p>{{post.createdAt|date:'medium'}}</p>


								
							</div>






						</div>
					</div>
				</div>
			</div>

		</div>





	</div>


</div>
</div> <my-footer></my-footer>