
<menus-bar></menus-bar>
  <sidemenu-bar></sidemenu-bar>
 <div id="page-wrapper">

  <div class="row">
    <!-- Page Header -->
    <div class="col-lg-12">
      <h1 class="page-header" style="color:rgb(3,73,49);font-style:bold"><span class="fa fa-rss"> </span>Forums</h1>
    </div>
    <!--End Page Header -->
  </div>
  <div class=" row"> 
    <div class="col-lg-12">
      <div  ng-controller="forumController">


       <div class="panel panel-default ">
        <div class="panel-heading">
        Forums
          <div class="demo-panel panel panel-default">                  
                <div class="panel-heading">
                    <h3 class="panel-title"><input type="button" class="btn btn-default form-control" style="background:rgb(102,204,204)" value="{{!forumCtrl.forum.forum_id ? 'Add forum' : 'Update Forum'}}"  name=""></h3>
                </div>
                <div class="panel-body">
        
                      

         <form ng-submit="forumCtrl.submit()" role="form">
         <fieldset>
           <input type="hidden" ng-model="forumCtrl.forum.forum_id">
           <div class="form-group">
           <input type="text" ng-model="forumCtrl.forum.title" id="title" class="form-control input-sm" placeholder="Enter tile" />
           </div>
           <div class="form-group">
           <input type="text" ng-model="forumCtrl.forum.description" id="description" class="form-control input-sm" placeholder="enter Description" />
           </div>
           <div class="form-group">
           <input type="submit" value="{{!forumCtrl.forum.forum_id ? 'Add forum' : 'Update'}}" class="btn btn-primary "/>
           <button type="button" ng-click="forumCtrl.reset()" class="btn btn-warning" >Reset Form</button>
           </div>
        </fieldset>
         </form>
</div>
</div>




         <div class="inner-content" ng-repeat="forum in forumCtrl.forums">







          <!-- <h3 class="">{{f.name}}</h3><button ng-if="!f.toggle" ng-click="f.toggle=true" class="pull-right">Show</button>
          <div>
            <p >{{f.title}}&nbsp;&nbsp; </p>
            <p> <b>{{f.forumPost.length}} Posts</b> <a class="pull-right"  ng-click="f.toggle=true" href="">Comments</a></p>  
            <br>     
            <div  ng-class="{'hidden':!f.toggle}">
             <table class="table table-striped" >                                     
               <tbody>
                 <tr ng-repeat="post in f.forumPost">
                   <td>{{post.forumpst}}</td>
          
                 </tr> 
               </tbody>
             </table>
             
             <div class="input-group">
              <input type="text" class="form-control" placeholder="Comment...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-comment-o"></i>
                </button>
              </span>
              <button ng-if="f.toggle" ng-click="f.toggle=false" class="pull-right">hide</button>
            </div>
            
          </div>  
        </div>   -->
        
        <a ng-click="forumCtrl.remove(forum.forum_id)" href=""><span class="fa fa-trash-o  pull-right" style="color:red">delete</span></a>
        <a ng-click="forumCtrl.edit(forum.forum_id)" href=""><span class="fa fa-pencil-square-o  pull-right" >edit</span></a>
        <h3>{{forum.title}}</h3>
        <p>{{forum.description}}</p>

        <a ng-href="#forums/forumView/{{forum.forum_id}}">view more</a>
        <p>{{forum.createdAt|date:'medium'}}</p>
        
        <!-- <div ng-repeat="post in forum.forumPost">
          <h5>{{post.forumDescription}}</h5>
          <div ng-repeat="comment in post.postComment">
            <h5>{{comment.description}}</h5>
            <p>{{comment.createdAt|date:'medium'}}</p>
          </div>
        
        
          <p>{{post.createdAt|date:'medium'}}</p>
        </div> -->



      </div>
    </div>
  </div>
</div>        
</div>

</div>





</div>
<!-- end page-wrapper -->





</div>
        <!-- end wrapper -->
         <my-footer></my-footer>